@function vw($px) {
  @return ($px / 375) * 100vw;
}

/* 手机、小屏设备 */
@media screen and (min-width: 320px) and (max-width: 1028px) {
  html,
  body {
    width: 100%;
    height: 3.2vw;
  }

  .container {
    width: 100%;
  }

  .page {
    width: 100%;
    overflow: hidden;
  }

  .slide {
    width: 100%;
  }
  .s-section-1 {
    height: vw(410);
    background: url("./images/mobile/bg.png") 50% 50% / cover no-repeat;
    position: relative;
    margin-top: vw(50);
  }

  .nav {
    top: 13.3333vw;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.93);
    text-align: center;
    position: fixed;
  }

  .nav.show {
    display: block;
  }

  .nav ul {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 13.3333333333vw);

    font-size: 4.8vw;
    font-family: SFProDisplay-Medium, SFProDisplay;
    font-weight: 500;
    color: #ffffff;
    line-height: 19.7333vw;
    // margin-top: 18.6667vw;
    justify-content: center;
  }

  .nav ul li a {
    text-decoration: none;
    color: rgba(237, 237, 237, 0.5);
    -webkit-appearance: none;
    outline: none;
  }

  .nav ul li a:active {
    color: transparent;
  }

  .nav ul li.active {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .nav ul li.active a {
    color: #ffffff;
  }

  .nav ul li.active::after {
    content: "";
    display: block;
    width: 9.4667vw;
    height: vw(3);
    background: #0e8f53;
    box-shadow: 0vw 0.5333vw 2.1333vw 0vw rgba(37, 148, 74, 0.48);
    border-radius: 26.6667vw;
    position: relative;
    top: -5.3333vw;
  }

  .group4 {
    display: none;
  }

  .paragraph1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: vw(73);
    width: vw(270);
    height: vw(163);
    font-size: vw(32);
    font-family: SFProText-Bold, SFProText;
    font-weight: bold;
    color: #ffffff;
    line-height: vw(41);
    word-break: break-word;
    text-align: center;
  }

  .box1 {
    position: relative;
  }

  .outer1 {
    position: absolute;
    left: 0;
    top: -13.3333vw;
    width: 100%;
    height: vw(50);
    background: rgba(0, 0, 0, 0.98);
  }

  .outer2 {
    display: inline-flex;
    align-items: center;
    background: url("./images/mobile/logo-black2.png") 50% / 32vw 6.8667vw
      no-repeat;
    position: relative;
    height: vw(50);
    box-shadow: 0px 0px 4px 0px rgba(40, 40, 40, 0.5);
  }

  .header-logo {
    width: 28vw;
    height: vw(22);
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    left: 5.3333vw;
    left: 50%;
  }

  .outer2-active {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 1);
    z-index: 200;
    background-image: url("./images/mobile/logo-white2.png");
  }

  .outer1 .outer3 {
    height: vw(25);
    line-height: vw(25);
    background: #0e8f53;
    box-shadow: 0vw 0.2667vw 1.3333vw 0vw rgba(8, 199, 181, 0.14);
    border-radius: 1.6vw;
    color: #ffffff;
    font-size: 2.4vw;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    padding-left: 1.8667vw;
    padding-right: 1.8667vw;
    position: absolute;
    right: 16.2667vw;
    top: 50%;
    transform: translateY(-50%);
  }

  .outer3 {
    display: none;
  }

  .outer4 {
    display: none;
    width: 5.3333vw;
    height: 5.3333vw;
    position: absolute;
    right: 6.1333vw;
    top: 50%;
    transform: translateY(-50%);
    background: url("./images/mobile/collapse.png") 50% / contain no-repeat;
  }

  .outer2-active + .outer4 {
    background-image: url("./images/mobile/collapse-black.png");
    position: fixed;
    right: 6.1333vw;
    top: 6.1333vw;
    top: 6.6667vw;
    z-index: 200;
  }

  .outer5 {
    position: absolute;
    top: 84vw;
    left: 50%;
    transform: translateX(-50%);
    width: 73.6vw;
    height: vw(42);
    line-height: vw(42);
    background: #0e8f53;
    box-shadow: 0vw 0.5333vw 1.8667vw 0vw rgba(8, 199, 181, 0.14);
    border-radius: 1.6vw;
    font-size: 3.4667vw;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
  }

  .slide .title {
    margin-top: 16vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .slide .title .word {
    height: vw(23);
    font-size: 5.0667vw;
    font-family: SFProDisplay-Semibold, SFProDisplay;
    font-weight: 600;
    color: #000000;
    line-height: vw(23);
    margin-bottom: 2.6667vw;
  }

  .slide .title .line {
    width: 7.4667vw;
    height: vw(5);
    background: #0e8f53;
    box-shadow: 0vw 0.5333vw 2.1333vw 0vw rgba(37, 148, 74, 0.48);
    border-radius: 26.6667vw;
    margin-bottom: 2.6667vw;
  }

  .s-section-2 .box2 {
    width: 94.6667vw;
    height: vw(120);
    background: rgba(237, 237, 237, 0.5);
    border-radius: 3.7333vw;
    text-align: center;
    padding: 6.4vw 4.8vw;
    position: relative;
    margin: 0 auto;
    margin-top: 2.1333vw;
  }

  .s-section-2 .box2 .word1 {
    font-size: 3.4667vw;
    color: #000000;
    line-height: vw(18);
    word-break: break-word;
    font-weight: 500;
  }

  .what-is {
    padding-left: 6.6667vw;
    padding-right: 4.5333vw;
    margin-top: 6.4vw;
    display: flex;
    flex-direction: column;
    display: none;
  }

  .what-is-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    background-image: url("./images/what-is-mobile-bg.png");
    background-repeat: no-repeat;
    background-size: 100% vw(74);
    background-position: center;
  }

  .what-is-item {
    width: vw(173);
    height: vw(173);
    background: #ffffff;
    opacity: 0.8;
    border: 1px solid #bbbbbb;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .what-is-item img {
    width: vw(32);
    height: vw(32);
    margin-bottom: vw(15);
  }

  .what-is-item span {
    color: #b53d18;
    font-size: vw(18);
    line-height: vw(25);
    font-weight: 500;
  }

  .what-is-item2,
  .what-is-item4 {
    margin-left: vw(-20);
  }

  .what-is-item3,
  .what-is-item4 {
    margin-top: vw(-20);
  }

  .what-is .box3,
  .what-is .box8 {
    flex-direction: column;
  }

  .what-is .box3 .box5,
  .what-is .box3 .box7,
  .what-is .box8 .bd2,
  .what-is .box8 .bd4 {
    background: url("./images/2-1.png") left 50% /12.8vw 13.8667vw no-repeat;
    padding-left: 16.8vw;
    word-break: break-word;
    margin-bottom: 7.4667vw;
  }

  .what-is .box3 .box7 {
    background-image: url("./images/2-2.png");
  }
  .what-is .box8 .bd2 {
    background-image: url("./images/2-3.png");
  }
  .what-is .box8 .bd4 {
    background-image: url("./images/2-4.png");
  }

  .what-is .box3 .box5 span:nth-of-type(1),
  .what-is .box3 .box7 span:nth-of-type(1),
  .what-is .box8 .bd2 span:nth-of-type(1),
  .what-is .box8 .bd4 span:nth-of-type(1) {
    font-size: 4vw;
    font-weight: 600;
    color: #222222;
    margin-bottom: 1.0667vw;
  }

  .what-is .box3 .box5 span:nth-of-type(2),
  .what-is .box3 .box7 span:nth-of-type(2),
  .what-is .box8 .bd2 span:nth-of-type(2),
  .what-is .box8 .bd4 span:nth-of-type(2) {
    font-size: 3.4667vw;
    font-family: SFProDisplay-Regular, SFProDisplay;
    position: static;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: #6f7781;
    line-height: 4vw;
  }

  .mission {
    display: flex;
    justify-content: space-around;
    margin-top: 7.4667vw;
    position: relative;
    z-index: 1;
  }

  .mission > div {
    width: 30.4vw;
    height: vw(201);
    display: flex;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .mission > div img {
    display: none;
  }

  .mission > div > span {
    position: static;
    text-align: center;
    font-size: vw(9);
    line-height: vw(12);
    padding: 0 vw(4);
  }

  .mission > .flex-col > .mission-title {
    color: #222222;
    font-size: vw(12);
    line-height: vw(37);
    font-weight: bold;
    margin-top: vw(56);
  }

  .mission > div:nth-of-type(1) {
    background-image: url("./images/mobile/works.png");
  }
  .mission > div:nth-of-type(2) {
    background-image: url("./images/mobile/skills.png");
  }
  .mission > div:nth-of-type(3) {
    background-image: url("./images/mobile/attention.png");
  }

  .s-section-2 {
    z-index: 100;
  }
  .s-section-3 {
    height: 74.6667vw;
    background: #0e8f53;
    position: relative;
    margin-top: -21.3333vw;
  }

  .s-section-3 h3 {
    /* width: 88.8vw; */
    margin: 0 auto;
    height: vw(46);
    font-size: 5.0667vw;
    font-size: 5.0667vw;
    font-family: SFProDisplay-Medium, SFProDisplay;
    font-weight: 500;
    color: #ffffff;
    line-height: vw(23);
    margin-top: 26.6667vw;

    /* display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden; */

    text-align: center;
  }

  .s-section-3 .container > div {
    overflow-x: scroll;
  }

  .s-section-3 .container > div::-webkit-scrollbar {
    display: none;
  }

  .s-section-3 .mod1 {
    display: inline-flex;
    margin-left: 2.6667vw;
    margin-top: 5.3333vw;
  }

  .s-section-3 .mod1 > div {
    width: 24.2667vw;
    height: vw(92);
    margin-right: 2.6667vw;
    background: rgba(0, 0, 0, 0.08) url("./images/mobile/music.png") center
      5.8667vw / 8.5333vw 8.5333vw no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .s-section-3 .mod1 > div span {
    height: vw(14);
    font-size: 2.9333vw;
    font-size: 2.9333vw;
    font-weight: normal;
    color: #ffffff;
    line-height: vw(14);
    margin-top: 10.6667vw;
  }

  .s-section-3 .mod1 .bd5 {
    background-image: url("./images/mobile/video.png");
  }
  .s-section-3 .mod1 .bd6 {
    background-image: url("./images/mobile/video.png");
  }
  .s-section-3 .mod1 .bd7 {
    background-image: url("./images/mobile/media.png");
  }
  .s-section-3 .mod1 .bd8 {
    background-image: url("./images/mobile/game.png");
  }
  .s-section-3 .mod1 .bd9 {
    background-image: url("./images/mobile/art.png");
  }

  .s-section-4 {
    height: vw(230);
    background: url("./images/mobile/s-section-4.png") center / 100% 61.3333vw
      no-repeat;
  }

  .s-section-5 {
    padding-bottom: 21.3333vw;
  }

  .s-section-5 .utility {
    width: 94.6667vw;
    height: vw(90);
    background: #ffffff;
    box-shadow: 0vw 2.9333vw 8vw 0vw rgba(0, 25, 57, 0.07);
    border-radius: 2.6667vw;
    margin: 0 auto;
    padding-top: 5.3333vw;
    padding-left: 13.3333vw;
    position: relative;
    margin-bottom: 2.6667vw;
  }

  .s-section-5 .utility h3 {
    margin-bottom: 1.0667vw;
    font-size: vw(16);
    font-weight: 500;
    font-family: SFProDisplay-Medium, SFProDisplay;
    color: #222222;
    line-height: vw(19);
  }
  .s-section-5 .utility p {
    width: 78.1333vw;
    height: vw(28);
    font-size: 3.2vw;
    font-family: SFProDisplay-Regular, SFProDisplay;
    font-weight: 400;
    color: rgba(34, 34, 34, 0.7);
    line-height: vw(14);
  }

  .s-section-5 .utility img {
    position: absolute;
    left: 2.6667vw;
    top: 5.3333vw;
    width: 7.2vw;
    height: 7.2vw;
  }

  .s-section-5 .phone > img {
    width: 55.4667vw;
    margin: 0 auto;
    display: block;
    margin-top: 10.6667vw;
  }

  .s-section-5 .phone-desc > li {
    width: vw(355);
    background: #ffffff;
    box-shadow: 0px 11px 30px 0px rgba(0, 25, 57, 0.07);
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: vw(10);
    padding-top: vw(20);
    padding-left: vw(14);
  }

  .s-section-5 .phone-desc > li .phone-desc-title {
    font-size: vw(16);
    font-weight: 600;
    color: #222222;
    line-height: vw(22);
    padding-left: vw(36);
    background-image: url("./images/incentive.png");
    background-size: vw(22) vw(20);
    background-position: left center;
    background-repeat: no-repeat;
  }

  .s-section-5 .phone-desc li:nth-child(2) .phone-desc-title {
    background-image: url("./images/assets.png");
  }

  .s-section-5 .phone-desc li:nth-child(3) .phone-desc-title {
    background-image: url("./images/public-clean.png");
  }

  .s-section-5 .phone-desc > li:nth-child(1) {
    height: vw(90);
  }

  .s-section-5 .phone-desc > li:nth-child(2) {
    height: vw(128);
  }

  .s-section-5 .phone-desc > li:nth-child(3) {
    height: vw(90);
  }

  .s-section-5 .phone-desc li > ul {
    padding-left: vw(36);
  }

  .s-section-5 .phone-desc li > ul li {
    position: relative;
    display: flex;
    align-items: center;
    font-size: vw(12);
    line-height: vw(17);
    color: #222222;
    font-weight: 400;
    margin-bottom: vw(2);
  }

  .s-section-5 .phone-desc li > ul li::before {
    content: "";
    display: inline-block;
    width: vw(6);
    height: vw(2);
    background-color: #b53d18;
    margin-right: vw(8);
  }

  .s-section-6-left img {
    display: none;
  }

  .s-section-6-right {
    display: flex;
    flex-direction: column;
    margin-top: 116.5333vw;
  }

  .s-section-6-right p {
    font-size: 6.4vw;
    font-weight: 600;
    color: #ffffff;
    line-height: vw(38);
    text-align: center;
    margin-bottom: 6.1333vw;
    width: 100% !important;
  }

  .s-section-6-right .column {
    height: vw(81);
    width: 93.8667vw;
    margin: 0 auto;
    margin-bottom: 2.6667vw;
    background: url("./images/nft-bg.png") center / 100% no-repeat;
    display: flex;
    align-items: center;
    font-size: vw(13);
    color: rgba(255, 255, 255, 0.8);
    line-height: vw(18);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 vw(32);
  }

  .s-section-6 {
    height: vw(728);
    background: url("./images/mobile/s-section-6.png") center 32.5333vw /
        73.3333vw 77.0667vw no-repeat,
      url("./images/mobile/s-section-6-bg.png") center / 260.8vw 194.1333vw
        no-repeat;
    position: relative;
  }

  .s-section-6 .logo {
    position: absolute;
    top: -24vw;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }

  .s-section-6 .logo img {
    width: vw(174);
    height: vw(174);
  }

  .s-section-6 .logo span {
    height: vw(33);
    font-size: 5.3333vw;
    font-weight: 600;
    color: #ffffff;
    line-height: vw(33);
    position: relative;
    top: -8vw;
  }

  .s-section-7 .flex-row {
    display: flex;
    flex-wrap: wrap;
    padding-left: 4.2667vw;
    padding-right: 4.2667vw;
    justify-content: space-between;
  }

  .s-section-8 .title {
    margin-bottom: vw(30);
    margin-top: vw(70);
  }
  .s-section-7 .title {
    margin-bottom: vw(30);
  }

  .s-section-7 .flex-row .flex-col {
    width: vw(345);
    height: vw(440);
    word-break: break-word;
    box-shadow: 0px vw(11) vw(30) 0px rgba(0, 25, 57, 0.07);
    border-radius: vw(12);
    background-color: #ffffff;
    margin-left: 0 !important;
    margin: 0 auto;
    margin-bottom: vw(11);
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .s-section-7 .flex-row .flex-col .avatar {
    width: vw(114);
    height: vw(114);
    margin-bottom: vw(16);
    border-radius: 50%;
  }

  .s-section-7 .flex-row .flex-col .name {
    font-size: vw(20);
    line-height: vw(28);
    font-weight: 600;
  }

  .s-section-7 .flex-row .flex-col .position {
    font-size: vw(14);
    line-height: vw(20);
    color: #369764;
    margin-bottom: vw(16);
    font-weight: 600;
  }

  .s-section-7 .flex-row .flex-col .info {
    font-size: vw(12);
    font-weight: 600;
    color: #222222;
    line-height: vw(17);
    margin-bottom: vw(11);
    text-align: center;
    padding: 0 vw(45);
  }

  .s-section-8 .flex-row {
    display: none;
  }

  .s-section-8 .flex-row:last-child {
    display: flex!important;
    flex-wrap: wrap;
    justify-content: center;
  }

  .s-section-8 .flex-col {
    width: 43.7333vw;
    width: vw(165);
    align-items: center;
    word-break: break-word;
    margin-bottom: vw(20);
  }

  .s-section-8 .flex-col img {
    width: 28vw;
    height: 28vw;
    border-radius: 50%;
  }

  .s-section-8 .flex-col span:nth-of-type(1) {
    height: vw(17);
    font-size: 3.4667vw;
    font-size: vw(13);
    font-size: vw(9);
    font-weight: 600;
    color: #222222;
    line-height: vw(17);
    margin-top: vw(6);
  }

  .s-section-8 .flex-col span:nth-of-type(2) {
    font-size: 2.4vw;
    font-size: vw(9);
    font-weight: 400;
    color: rgba(34, 34, 34, 0.8);
    line-height: vw(13);
    margin-top: vw(6);
    padding: 0 4vw;
    text-align: center;
    margin-bottom: vw(10);
  }

  .s-section-9 {
    background: url("./images/line.png") bottom / 100% 6px no-repeat;
  }

  .s-section-9 .bd {
    width: 88.2667vw;

    background: url("./images/mobile/map.png") center top / contain no-repeat;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
  }

  .s-section-9 .bd h6 {
    font-size: 5.3333vw;
    font-weight: 600;
    color: #222222;
    line-height: 7.4667vw;
    margin-top: 5.6vw;
  }

  .s-section-9 .bd ul {
    display: flex;
    flex-direction: column;
  }

  .s-section-9 .bd ul li {
    // width: 94.6667vw;
    height: 24vw;
    background-position: left center;
    background-size: cover;
    line-height: 21vw;
    text-align: center;
    font-size: 4.2667vw;
    color: #222222;
  }

  .s-section-9 .bd ul li:nth-of-type(1) {
    background-image: url("./images/mobile/telegram.png");
    margin-top: 10.6667vw;
  }

  .s-section-9 .bd ul li:nth-of-type(2) {
    background-image: url("./images/mobile/twitter.png");
  }

  .s-section-9 p {
    height: vw(25);
    font-size: 3.2vw;
    font-weight: 400;
    color: rgba(51, 51, 51, 0.5);
    line-height: vw(25);
    margin-top: 7.3333vw;
    margin-bottom: 5vw;
    text-align: center;
  }
}

/* 平板之类的宽度 1024 以下设备 */
@media only screen and (min-width: 321px) and (max-width: 1024px) {
}
